.home p {
  font-family: "Kode Mono", monospace;
  font-size: 2rem;
}
.home .fw-bold {
  letter-spacing: 0.3em;
  overflow: hidden;
  border-right: 0.15em solid rgb(0, 153, 255);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 8s steps(40, end) infinite alternate both, blink-caret 0.75s infinite;
}

.myButtons button {
  width: 120px;
}

nav {
  background-color: rgba(57, 154, 219, 0.282);
  border-bottom: solid 2px white;
}

.nav-button {
  background-color: rgba(0, 255, 255, 0.412);
}

body {
  /* background-image: url("https://www.chromethemer.com/download/hd-wallpapers/blue-technology-3840x2160.jpg");
  background-position: center; */
  background: linear-gradient(326deg, rgba(57, 153, 219, 1) 39%, rgba(70, 198, 192, 1) 92%);
  min-height: 100vh;
}

.blueCard {
  background-color: aqua !important;
}

.invader {
  animation: blink 3s ease 0s infinite normal forwards;
}

.drag {
  background-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 50px;
  border: 1px solid white;
  position: absolute;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  50% {
    width: 100%;
  }
  60% {
    width: 100%;
  }

  90% {
    width: 0;
  }

  to {
    width: 0;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(75, 224, 234);
  }
}

.dissolve {
  animation: dissolve 1s ease 0s 1 normal forwards;
}

@keyframes dissolve {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.4;
  }
}
