{% extends "myportfolio/common.html" %} {% block content %}
<div class="container-fluid p-0 home pt-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img src="https://i.pinimg.com/736x/f9/dd/b4/f9ddb48c4d9010e8333a319d0213ca35.jpg" class="img-fluid" />
      </div>
      <div class="col-9">
        <p class="text-light fs-1">Alessandro Baiocco</p>
        <p class="text-light fs-1 fw-bold">FULL-STACK DEVELOPER</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
